// Main styless
.section1{
    position: relative;
    margin-top: 80px;
    width: 1300px;
    height: 600px;


    background-color: #2D2641;


    &__rec{
        position: absolute;
        width: 150px;
        height: 1px;
        top: 105px;
        left: 145px;
        background-color: #ffffff;
    }
    &__h2{
        position: absolute;
        top: 169px;
        left: 145px;
        width: 520px;

        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -1px;

        color: #FFFFFF;
    }
    &__p{
        position: absolute;
        top: 325px;
        left: 145px;
        width: 540px;

        font-family: 'Karla';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        /* or 162% */


        color: #FFFFFF;
        
    }
    &__link{
        position: absolute;
        top: 433px;
        left: 145px;
        width: 146px;
        height: 40px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 1.5px;
        border: 1.5px solid #ffffff;
        color: #ffffff
    }
    &__link:hover{
        color: #2C2830;
        background-color: #ffffff;
    }
    &__img{
        position: absolute;
        top: 85px;
        left: 700px;
    }
        
    


}

.card{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    padding-left: 145px;
    &__heading{
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 72px;
        line-height: 64px;
        letter-spacing: -1px;
        color: #2C2830;
        padding: 50px 0;
       
    }
    &__line{
        border-top: 2px solid #C396C6;
        width: 150px;
    }
    &__cards{
        display: flex;
        justify-content: space-between;

    }
    &__card{
        width: 350px;
        margin-top: 100px;
        &>h3{
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: -0.388889px;
            color: #2C2830;
        }
        &>p{
            font-family: 'Karla';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #837D88;
        }
    }
}
.findmore{
    margin-top: 150px;
    padding-left: 145px;
    max-width: 1110px;
    .findmore__bck{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #2D2641;
        padding: 70px 80px;
    }
    &__title{
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 56px;
        color: #FFFFFF;
    }
    &__btn{
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        text-decoration: none;
        border: 1.5px solid #FFFFFF;
        padding: 13px 24px;
        &:active{
            color: #2C2830;
            background: #fff;
        }
    }
}